@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700,600");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 595px;
  height: 842px;
  position: relative;
}

.element .overlap {
  position: absolute;
  width: 605px;
  height: 26px;
  top: 67px;
  left: -25px;
}

.element .rectangle {
  position: absolute;
  width: 166px;
  height: 26px;
  top: 0;
  left: 0;
  background-color: #0ca5ff;
  border-radius: 2px;
}

.element .text-wrapper {
  position: absolute;
  width: 556px;
  top: 3px;
  left: 49px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame {
  display: flex;
  flex-direction: column;
  width: 556px;
  align-items: flex-start;
  gap: 12px;
  position: absolute;
  top: 109px;
  left: 20px;
}

.element .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-weight: 400;
  color: #494949;
  font-size: 12px;
  line-height: 18px;
  font-family: "DM Sans", Helvetica;
  letter-spacing: 0;
}

.element .group {
  position: absolute;
  width: 556px;
  height: 46px;
  top: 180px;
  left: 20px;
}

.element .overlap-group {
  position: relative;
  height: 46px;
}

.element .div-wrapper {
  position: absolute;
  width: 123px;
  height: 46px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/c1JhCQoF/img/vector.svg);
  background-size: 100% 100%;
}

.element .text-wrapper-2 {
  position: absolute;
  width: 63px;
  height: 20px;
  top: 12px;
  left: 36px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .optimises-returns-wrapper {
  position: absolute;
  width: 123px;
  height: 46px;
  top: 0;
  left: 109px;
  background-image: url(https://c.animaapp.com/c1JhCQoF/img/vector-1.svg);
  background-size: 100% 100%;
}

.element .liquidity-management-wrapper {
  position: absolute;
  width: 123px;
  height: 46px;
  top: 0;
  left: 216px;
  background-image: url(https://c.animaapp.com/c1JhCQoF/img/vector-2.svg);
  background-size: 100% 100%;
}

.element .achievement-of-wrapper {
  position: absolute;
  width: 123px;
  height: 46px;
  top: 0;
  left: 325px;
  background-image: url(https://c.animaapp.com/c1JhCQoF/img/vector-3.svg);
  background-size: 100% 100%;
}

.element .achievement-of {
  position: absolute;
  width: 72px;
  height: 20px;
  top: 12px;
  left: 35px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-2 {
  position: absolute;
  width: 123px;
  height: 46px;
  top: 0;
  left: 433px;
  background-image: url(https://c.animaapp.com/c1JhCQoF/img/vector-4.svg);
  background-size: 100% 100%;
}

.element .overlap-2 {
  position: absolute;
  width: 595px;
  height: 129px;
  top: 253px;
  left: 0;
  background-color: #ebf3ff;
}

.element .rectangle-wrapper {
  position: absolute;
  width: 556px;
  height: 14px;
  top: 72px;
  left: 20px;
  background-color: #0ca5ff;
  border-radius: 2px;
}

.element .rectangle-2 {
  width: 378px;
  height: 14px;
  background-color: #032b5b;
  border-radius: 2px;
}

.element .text-wrapper-3 {
  top: 51px;
  left: 122px;
  position: absolute;
  height: 12px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #434343;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.element .group-wrapper {
  position: absolute;
  width: 22px;
  height: 12px;
  top: 52px;
  left: 468px;
}

.element .group-2 {
  position: relative;
  width: 24px;
  height: 12px;
}

.element .text-wrapper-4 {
  top: 0;
  left: 0;
  position: absolute;
  height: 12px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #434343;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.element .text-wrapper-5 {
  position: absolute;
  top: 97px;
  left: 38px;
  font-weight: 400;
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-6 {
  position: absolute;
  top: 97px;
  left: 99px;
  font-weight: 400;
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .ellipse {
  left: 24px;
  background-color: #032b5b;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 101px;
  border-radius: 4px;
}

.element .ellipse-2 {
  left: 85px;
  background-color: #0ca5ff;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 101px;
  border-radius: 4px;
}

.element .text-wrapper-7 {
  position: absolute;
  width: 556px;
  top: 16px;
  left: 20px;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: normal;
  font-family: "DM Sans", Helvetica;
  letter-spacing: 0;
}

.element .overlap-3 {
  position: absolute;
  width: 557px;
  height: 33px;
  top: 677px;
  left: 19px;
  background-color: #0ca5ff;
}

.element .text-wrapper-8 {
  position: absolute;
  top: 7px;
  left: 64px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-9 {
  position: absolute;
  top: 7px;
  left: 474px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.element .navbar {
  position: absolute;
  width: 557px;
  height: 33px;
  top: 406px;
  left: 19px;
  background-color: #e9f5ff;
}

.element .text-wrapper-10 {
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-11 {
  position: absolute;
  top: 8px;
  left: 50px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #494949;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-12 {
  position: absolute;
  top: 8px;
  left: 312px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #494949;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-13 {
  position: absolute;
  top: 8px;
  left: 473px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #494949;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-14 {
  position: absolute;
  top: 446px;
  left: 69px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-15 {
  top: 447px;
  position: absolute;
  left: 37px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #494949;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .large-cap-fund {
  position: absolute;
  top: 463px;
  left: 69px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #494949;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 18px;
}

.element .frame-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 484px;
  left: 336px;
  background-color: #e9f5ff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #dbebff;
}

.element .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: 600;
  color: #032b5b;
  font-family: "DM Sans", Helvetica;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 556px;
  left: 336px;
  background-color: #e9f5ff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #dbebff;
}

.element .frame-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 600px;
  left: 336px;
  background-color: #e9f5ff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #dbebff;
}

.element .frame-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 644px;
  left: 336px;
  background-color: #e9f5ff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #dbebff;
}

.element .text-wrapper-17 {
  position: absolute;
  top: 493px;
  left: 502px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .line {
  top: 548px;
  position: absolute;
  width: 530px;
  height: 1px;
  left: 32px;
  object-fit: cover;
}

.element .text-wrapper-18 {
  position: absolute;
  top: 560px;
  left: 69px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-19 {
  position: absolute;
  top: 560px;
  left: 496px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-20 {
  top: 562px;
  position: absolute;
  left: 37px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #494949;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .img {
  top: 588px;
  position: absolute;
  width: 530px;
  height: 1px;
  left: 32px;
  object-fit: cover;
}

.element .text-wrapper-21 {
  position: absolute;
  top: 604px;
  left: 69px;
  font-family: "DM Sans", Helvetica;
  font-weight: 600;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-22 {
  top: 604px;
  position: absolute;
  left: 496px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-23 {
  top: 605px;
  position: absolute;
  left: 37px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #494949;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .line-2 {
  top: 631px;
  position: absolute;
  width: 530px;
  height: 1px;
  left: 32px;
  object-fit: cover;
}

.element .text-wrapper-24 {
  position: absolute;
  top: 648px;
  left: 69px;
  font-weight: 600;
  color: #494949;
  font-family: "DM Sans", Helvetica;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-25 {
  top: 648px;
  position: absolute;
  left: 496px;
  font-family: "DM Sans", Helvetica;
  font-weight: 700;
  color: #494949;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-26 {
  top: 648px;
  position: absolute;
  left: 37px;
  font-family: "DM Sans", Helvetica;
  font-weight: 500;
  color: #494949;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.element .group-3 {
  position: absolute;
  width: 120px;
  height: 39px;
  top: 22px;
  left: 455px;
}

.element .overlap-wrapper {
  position: absolute;
  width: 600px;
  height: 86px;
  top: 756px;
  left: 0;
}

.element .overlap-4 {
  position: relative;
  width: 596px;
  height: 86px;
}

.element .overlap-group-wrapper {
  position: absolute;
  width: 596px;
  height: 86px;
  top: 0;
  left: 0;
}

.element .overlap-5 {
  position: relative;
  height: 86px;
}

.element .group-4 {
  position: absolute;
  width: 20px;
  height: 61px;
  top: 0;
  left: 0;
}

.element .overlap-6 {
  position: absolute;
  width: 10px;
  height: 19px;
  top: 41px;
  left: 10px;
}

.element .img-2 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 9px;
  left: 0;
}

.element .img-3 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

.element .overlap-7 {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 11px;
  left: 0;
}

.element .overlap-8 {
  position: absolute;
  width: 20px;
  height: 30px;
  top: 0;
  left: 0;
}

.element .overlap-group-2 {
  position: absolute;
  width: 11px;
  height: 30px;
  top: 0;
  left: 0;
}

.element .group-5 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 11px;
  left: 0;
}

.element .group-6 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 20px;
  left: 0;
}

.element .group-7 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 0;
  left: 0;
}

.element .overlap-9 {
  position: absolute;
  width: 10px;
  height: 19px;
  top: 11px;
  left: 10px;
}

.element .vector {
  width: 9px;
  height: 9px;
  top: 0;
  position: absolute;
  left: 0;
}

.element .vector-2 {
  width: 10px;
  height: 10px;
  top: 30px;
  position: absolute;
  left: 0;
}

.element .vector-3 {
  width: 10px;
  height: 10px;
  top: 51px;
  position: absolute;
  left: 0;
}

.element .group-8 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 0;
  left: 0;
  background-image: url(https://c.animaapp.com/c1JhCQoF/img/clip-path-group@2x.png);
  background-size: 100% 100%;
}

.element .rectangle-3 {
  position: absolute;
  width: 596px;
  height: 26px;
  top: 60px;
  left: 0;
  background-color: #032b5b;
}

.element .text-wrapper-27 {
  position: absolute;
  top: 67px;
  left: 46px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-28 {
  position: absolute;
  top: 66px;
  left: 531px;
  font-family: "DM Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}
